.rightside{
    display: grid;
    justify-items: center;
    padding: 20px;
}
.rightside>form{
    width: 60%;
}
fieldset{
    border-radius: 20px;
}
fieldset>input{
    width: 80%;
    border: 0;
    background-color: white;
    font-size: large;
    height: 40px;
}
fieldset>input:focus{
    outline: none;
}
.buttontap>button{
   
    width: 50%;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(17, 17, 255, 0.651);
    color: white;
}
.buttontap{
    display: grid;
    justify-items: center;
    margin-top: 20px;
}