tr>td>img{
    width: 100px;

}
tr{
    height: 60px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    
}
.maxage{
    display: grid;
}
table{
    width: 70%;
}
tbody>tr{
    height: 80px;
    border-radius: 10px;
}
td>button{
    width: 100px;
    height: 30px;
    border-radius:0 10px 10px 0 ;
    background-color: orangered;
    color: white;font-size: larger;
    font-weight: 500;
}